<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% if user_signed_in? %>
    <li><%= link_to "トップ", blogs_path,:style=>"color:white;" %></li>
    <li><%= link_to 'ユーザー一覧', users_path,:style=>"color:white;"%></li>
    <li><%= link_to "メッセージ", conversations_path,:style=>"color:white;" %></li>
    <li><%= link_to 'マイページ', edit_user_registration_path,:style=>"color:white;" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path,:style=>"color:white;", method: :delete %></li>
  <% else %>
    <li><%= link_to 'ログイン', new_user_session_path,:style=>"color:white;"  %></li>
    <li><%= link_to 'サインアップ', new_user_registration_path,:style=>"color:white;" %></li>
  <% end %>
</header>


<% if(notice||alert) %>
<section class="main-header ">
  <p class="flash alert alert-success"><%= notice %><%= alert %></p>
</section>
<% end %>

<div class="main-contents">
<%= yield %>
</div>

</body>
</html>
